* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
/* Загальні стилі */
body {
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  color:#16133D;
}
h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size:40px;
  color:#16133D;
  margin-left:80px;
}
svg {
  height:35px; 
}
.wrapper {
  width:1200px;
}
/* Обгортка для блока сервіс */
.container {
  display:flex;
  margin-bottom:70px;
  justify-content:space-around;
}
.design,.ecommerce,.application {
  width:300px;
  border: 1px solid #3DB3701A;
  border-radius:16px;
}
.design {
  margin-left:40px;
}
.application {
  margin-right:40px;
}
.design__icon,.ecommerce__icon,.application__icon {
  width:65px;
  height:65px;
  padding-top:15px;
  text-align: center;
  border: 1px solid #3DB3701A;
  border-radius:16px;
  margin-bottom:30px;
  margin-left:40px;
  margin-top:40px;
}
/* Стилізація іконок */
.design__icon {
  fill:#007FFC;
}
.design__icon:hover {
  transform:scale(1.2);
}
.ecommerce__icon {
  fill:#52C29D;
 }
 .ecommerce__icon:hover {
  transform:scale(1.2);
 }
.application__icon {
  fill:#007FFC;
  margin-left:40px;
}
.application__icon:hover {
  transform:scale(1.2);
}
.design__title,.ecommerce__title,.application__title {
  font-size:24px;
  margin-bottom:15px;
  margin-left:40px;
}
.design__text,.ecommerce__text,.application__text {
  margin-bottom:30px;
  line-height:20px;
  margin-left:40px;
}
.design__link,.ecommerce__link,.application__link {
  margin-bottom:50px;
  margin-left:40px;
}
/* Футер */
footer {
  background-color:#16133D;
}
.futer-title {
  font-family: 'Quicksand', sans-serif;
  font-size:35px;
  color:#F2F2F2;
  margin-left:15px;
}
.icon__freehand {
  width:30px;
  height:30px;
  stroke: #3DB370;
  margin-left:80px;
  margin-top:35px;
  fill:#3DB370;
}
/* Обгортка футер */
.footer-wrapper {
  margin-top:40px;
  margin-left:80px;
 }
/* Іконки соцмережі */
.icon__instagram,.icon__facebook,.icon__github,.icon__ball,.icon__twitter {
  width:40px;
  height:40px;
  background-color:#EFEEF3;
  border-radius:5px;
  border: 1px solid #3DB3701A;
  margin-bottom:45px;
}
.icon__facebook,.icon__github,.icon__ball,.icon__twitter {
  margin-left:10px;
}
.icon__twitter {
  fill: #3DB370;
}
/* Трансформ-збільшення іконок на 20% */
.icon__instagram:hover {
  transform:scale(1.2);
}
.icon__facebook:hover {
  transform:scale(1.2);
}
.icon__github:hover {
  transform:scale(1.2);
}
.icon__ball:hover {
  transform:scale(1.2);
}
.icon__twitter:hover {
  transform:scale(1.2);
}